<link rel="icon" type="image/x-icon" href="{{'/favicon.png' | relative_url }}">
<script type="text/javascript" defer src="{{'/assets/js/custom_requirments.js' | relative_url}}" ></script>
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.15/index.global.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/web-component@6.1.15/index.global.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.15/index.global.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@6.1.15/index.global.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@6.1.15/index.global.min.js'></script>
<script async data-id="101473225" src="//static.getclicky.com/js"></script>

<!--Keyword tags-->
<meta name="keywords" content="7T kardiale MRT, Herzinsuffizienz ,Magnetresonanztomographie, Elektromagnetische Feldverteilung, Deep Learning,Medizinische Bildgebung, Hochfeld-MRT, Kardiale Bildgebungstechniken, Universität Würzburg, Deutsches Zentrum für Herzinsuffizienz, Klinische Anwendung, Kardiologie ,7T cardiac MRI, Physics-informed machine learning, Heart failure, Electromagnetic field distribution, Maxwell's equations, Deep learning, Medical imaging, High-field MRI, Cardiac imaging techniques, Spring School 2025, University of Würzburg, German Center for Heart Failure, Clinical application, Numerical simulations, Heartdisease">