<div style="display: flex">

    <div>
        <img src="{{page.image_path | relative_url}}" alt="spring school 2025 keynote speaker image" height="250px" width="250px">
    </div>


    <div class="small" style="flex: 0 0 400px; margin-left: 32px">
        <p><span style="font-weight: bold">Topic:</span> {{page.topic}}</p>
        <p><span style="font-weight: bold">Affiliation:</span> {{page.affiliation}}</p>
    </div>

</div>

<div>
    {% if page.abstract %}
    <h2>Abstract</h2>
    <p>{{page.abstract}}</p>
    {% endif %}
</div>