<div style="display: flex">

    <div>
        <img src="{{page.image_path | relative_url}}" height="250px" width="250px">
    </div>


    <div class="small" style="flex: 0 0 320px; margin-left: 32px">
        <p><span style="font-weight: bold">Topic:</span> {{page.topic}}</p>
        <p><span style="font-weight: bold">Affiliation:</span> {{page.affiliation}}</p>
        <p><span style="font-weight: bold">University: </span> {{page.university}}</p>
    </div>

</div>


<h2>Abstract</h2>
<p>{{page.abstract}}</p>