---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

.sidebar.sticky {
  overflow-y: unset !important;
}

.spring-school-grid-menu {
  display: flex;
  //justify-content: space-between;
  flex-wrap: wrap;

  a {
    text-decoration: none !important;
    margin-right: 8px;
  }

}

.spring-school-grid-menu-card {
  position: relative;
  width: 300px;
  height: 164px;
  color: white;
  background-color: #85CDFD;
  padding: 18px;
  margin-top: 12px;

  p {
    font-size: 20px !important;
  }

  span {
    position: absolute;
    bottom: 16px;
    vertical-align: text-bottom;
    left: 16px;
    transition: left 1s ease-in-out;
  }

}

.spring-school-grid-menu-card:hover,
.spring-school-grid-menu-card:focus {
  span {
    left: 24px;
  }
}





.spring-school-day {
  padding-top: 12px;
  border-radius: 28px;
  background: lightgray;
  margin-bottom: 48px;
  color: black;
  font-family: "Open Sans" !important;

  h2 {
    font-family: "Open Sans" !important;
    text-align: center; border: none;
    margin-top: 28px;
    letter-spacing: 3px;
    border: none !important;
  }

  .session-box {
    //margin-bottom: 16px;

  }

  .session-title {
    font-weight: bold;
    display: flex;
    font-size: 28px;
    letter-spacing: 2px;
  }

  .more-information-section {
    padding-top: 12px;
    padding-bottom: 16px
  }


  .coffee-break {
    width: 24px;
    margin-right: 8px;
    vertical-align: text-top;
  }
}


.site-logo img {
  max-height: 120px !important;
  width: 120px;
}

.masthead__inner-wrap {
  padding : 4px !important;
}

p, div {
  text-align: justify;
}

.accomodation-container {
  p {
    margin: 2px 2px !important;
  }
}




.grid {
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive wrapping */
    gap: 20px;

}
.pdf-box {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
canvas {
    width: 100%;
    height: auto;
}























@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
