---
---

 @import "{{ site.theme }}";


.navbar {
  width: 100%;
  background-color: #333;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  z-index: 1000; /* Ensures it stays on top of other elements */
}

.background-color-dark-blue {
  background: #214478;
}

.margin-top-128 {
  margin-top: 128px;
}

.primary-color-blue {
  color: #213378 !important;
}

.margin-bottom-zero {
  margin-bottom: 0px;
}